* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    margin: 0 auto;
    height: 80px;
    width: 1000px;
}

.nav-title {
    display: flex;
    /* height: inherit;
    width: inherit; */
    color: white;
    align-items: center;
    /* margin-left: 23px; */
    margin: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    height: inherit;
    list-style: none;
    align-items: center;
    /* width: 600%;  */
    width: 700px;
}

[href] {
    
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: 100;
}

.active {
    font-weight: 900;
    
}

button {
    color: white;
    background-color: rgb(1, 174, 174);
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 30px;
    margin-right: 85px;
    width: 80px;
}

/* =======main container======= */
.main-container {
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    width: 1060px;
}






/* USER CARD */
.user-card-container {
    width: 500px;
    height: 360px;
    /* margin: 20px; */
    background-color: white;
    border: 5px solid rgb(215, 215, 215);
    margin: 0 auto;
    margin-left: 65px;
    margin-top: 30px;
}

.position-user-card {
    position: relative;
    bottom: 45px;

}

#circle {
    height: 80px;
    width: 80px;
    border-style: groove;
    border-color: white;
    border-radius: 100%;
    margin-left: 20px;
}

#marker {
    height: 20px;
    width: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.seattle {
    margin-top: 10px;
}
.develop {
    margin-left: 20px;
    margin-top: 5px;
}

#gear {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.profile {
    text-decoration: underline;
    color: rgb(37, 113, 227);
    margin-top: 20px;
    font-weight: 900;
}

.background {
    width: inherit;
    height: 80px;
    background-color: rgb(8, 230, 242);
    padding-top: 20px;
}

#jane {
    display: flex;
    font-size: xx-large;
    margin-left: 20px;
}

/* EDUCATION SECTION */
.education-container {
    width: 500px;
    height: 200px;
    /* margin: 20px; */
    margin: 0 auto;
    border-top: 5px solid rgb(215, 215, 215);
    border-left: 5px solid rgb(215, 215, 215);
    border-right: 5px solid rgb(215, 215, 215);
    margin-left: 65px;
    margin-top: 30px;
}

.education-background {
    background-color: rgb(53, 56, 59);
    width: inherit;
    height: 50px;
    padding-top: 20px;
}

.education-text {
    margin-left: 20px;
    font-size: xx-large;
    color: white;
    
}

/* EDUCATION CONTENT */
.education-content {
    margin-top: 30px;
    margin-left: 20px;
}

.coding-dojo {
    font-size: large;
    font-weight: 700;
    margin: 7px;
}

.date {
    font-weight: 100;
    font-size: small;
    color: gray;
    margin: 7px;
}

.black-belt {
    font-weight: 500px;
    font-size: medium;
    margin: 7px;
}

/* BOTTOM-RIGHT-CONTAINER */

 .bottom-right-container { 
    /* height: 575px;
    width: 310px; */
    margin: 0 auto;
    width: 400px;
} 


/* CONNECTION REQUSTS */
.connections-requests {
    border: 5px solid rgb(215, 215, 215);
    height: 200px;
    width: 315px;
    /* margin: 19px; */
    margin: 0 auto;
    margin-top: 30px;
}

.connections-title {
    display: flex;
    align-items: center;
    background-color: rgb(53,56,59);
    height: 70px;
    justify-content: space-evenly;
    color: white;
}

#requests-number {
    background-color: white;
    border-radius: 50%;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    font-weight: 700;
    
}

.friend-requests-todd {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-top: 20px;
}

.friend-requests-phil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 7px;
    margin-top: 10px;
}

.accept {
    height: 30px;
    
}

.close-circle {
    height: 30px;
}

.small-user-icon {
    height: 30px;
    
    margin: 5px
}


/* YOUR CONNECTIONS */
.your-connections {
    border: 5px solid rgb(215, 215, 215);
    /* margin: 19px; */
    height: 305px;
    width: 315px;
    margin: 0 auto;
    margin-top: 30px;
}

.your-connections-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(53,56,59);
    height: 70px;
    color: white;
}

#connections-number {
    background-color: white;
    border-radius: 50%;
    color: black;
    width: 50px;
    height: 25px;
    text-align: center;
    font-weight: 700;
}

.connections1 {
    display: flex;
    align-items: center;
    margin-top:10px;
    margin-left: 40px;
}

.connections2 {
    display: flex;
    align-items: center;
    margin-top:10px;
    margin-left: 40px;
}

.connections3 {
    display: flex;
    align-items: center;
    margin-top:10px;
    margin-left: 40px;
}

.connections4 {
    display: flex;
    align-items: center;
    margin-top:10px;
    margin-left: 40px;
}

.view-more {
    display: flex;
    border: 5px solid rgb(215, 215, 215);
    height: 50px;
    /* margin: 19px; */
    align-items: center;
    width: 315px;
    margin-left: 38px;
}

.view-more > p {
    margin-left: 25px;
    color: rgb(37, 113, 227);
    font-weight: 900;
    text-decoration: underline;
}